<a href="https://colab.research.google.com/github/mahidhardurga/DataScience_Numpy_Practice/blob/main/Kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.20-py3-none-any.whl (14 kB)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from opendatasets) (4.62.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2021.5.30)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (2.10)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.20

In [ ]:
import opendatasets as od

In [5]:
od.download("https://www.kaggle.com/c/nfl-big-data-bowl-2022/data")

Skipping, found downloaded files in "./nfl-big-data-bowl-2022" (use force=True to force download)

In [6]:
pwd

'/content'

In [7]:
import pandas as pd

In [8]:
import os

In [9]:
os.listdir()

['.config', 'nfl-big-data-bowl-2022', 'sample_data']

In [10]:
df = pd.read_csv('./nfl-big-data-bowl-2022/games.csv')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gameId           764 non-null    int64
 1   season           764 non-null    int64
 2   week             764 non-null    int64
 3   gameDate         764 non-null    object
 4   gameTimeEastern  764 non-null    object
 5   homeTeamAbbr     764 non-null    object
 6   visitorTeamAbbr  764 non-null    object
dtypes: int64(3), object(4)
memory usage: 41.9+ KB

In [14]:
df.head(10)

       gameId  season  week  ... gameTimeEastern homeTeamAbbr visitorTeamAbbr
0  2018090600    2018     1  ...        20:20:00          PHI             ATL
1  2018090900    2018     1  ...        13:00:00          BAL             BUF
2  2018090901    2018     1  ...        13:00:00          CLE             PIT
3  2018090902    2018     1  ...        13:00:00          IND             CIN
4  2018090903    2018     1  ...        13:00:00          MIA             TEN
5  2018090905    2018     1  ...        13:00:00           NE             HOU
6  2018090906    2018     1  ...        13:00:00           NO              TB
7  2018090907    2018     1  ...        13:00:00          NYG             JAX
8  2018090909    2018     1  ...        16:25:00          ARI             WAS
9  2018090910    2018     1  ...        16:25:00          CAR             DAL

[10 rows x 7 columns]

In [15]:
ls

nfl-big-data-bowl-2022/  sample_data/

In [16]:
pwd

'/content'

In [18]:
os.getcwd()

'/content'

In [20]:
os.chdir('nfl-big-data-bowl-2022')

In [21]:
os.getcwd()

'/content/nfl-big-data-bowl-2022'

In [22]:
os.listdir()

['plays.csv',
 'tracking2020.csv',
 'players.csv',
 'tracking2019.csv',
 'PFFScoutingData.csv',
 'games.csv',
 'tracking2018.csv']